:root {
  --base-size: var(--s-1);

  /* Typography */
  --fs-smaller: 0.8125rem;
  --fs-small: 0.9375rem;
  --fs-base: var(--s-1);
  --fs-big: 1.375rem;
  --fs-bigger: 1.625rem;

  /* Font weight */
  --fw-400: 400;
  --fw-700: 700;

  /* Line height */
  --lh-base: 1.5625rem;

  /* Spacing */
  --s-1: var(--s-1);

  /* Border radius */

  --rounded: var(--text-small);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Colors */
    --primary: hsl(212, 100%, 50%);
    --secondary: hsl(217, 20%, 51%);
    --tertiary: hsl(217, 35%, 45%);
    --text: hsl(217, 21%, 21%);
    --background: hsl(227, 100%, 98%);
    --black: hsl(220, 40%, 13%);
    --container: hsl(0, 0%, 100%);

    --stats-container: hsla(227, 100%, 98%, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */

    --primary: hsl(212, 100%, 50%);
    --secondary: hsl(0, 0%, 100%);
    --tertiary: hsla(220, 40%, 13%, 1);
    --text: hsl(217, 21%, 21%);
    --background: hsla(220, 40%, 13%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(220, 40%, 13%);
    --container: hsl(222, 41%, 20%);

    --stats-container: hsla(220, 40%, 13%, 1);
  }
}

/* Composition */

body {
  font-family: "Space Mono", monospace;
  font-size: var(--text-small);
  line-height: var(--lh-base);
  color: var(--text);
  background-color: var(--background);
}

h1 {
  font-size: var(--text-bigger);
  line-height: 2.375rem;
}

h2 {
  font-size: var(--text-big);
  line-height: 2.0625rem;
}

h3,
h4 {
  font-weight: var(--text-bold);
}

h3 {
  font-size: var(--text-base);
  line-height: 1.5rem;
  color: var(--primary);
}

h4 {
  font-size: var(--text-smaller);
  line-height: 1.25rem;
  color: hsl(217, 35%, 45%);
}

.container {
  padding: 1.94rem 1.5rem 4.94rem 1.5rem;
}

/* Utilities */

.flex-row {
  display: flex;
  justify-content: center;
}

.rounded {
  border-radius: var(--rounded);
}

.shadow {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
